networks:
  gitea:
    external: false

services:
  gitea:
    image: docker.gitea.com/gitea:1.24.5
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
    restart: always
    networks:
      - gitea
    volumes:
      - ./gitea:/data
    ports:
      - "13000:3000"
      - "10022:22"

  nginx:
    image: nginx:latest
    container_name: nginx
    depends_on:
      - gitea
    networks:
      - gitea
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl/server.crt:/etc/nginx/ssl/server.crt:ro
      - ./nginx/ssl/server.key:/etc/nginx/ssl/server.key:ro
    ports:
      - "443:443"
